* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
.content {
    display: flex;
    height: 100vh;
}
.content .panel {
    flex-basis: 200px;
    padding: 25px;
    border: 1px solid black;
    background-color: #313640;
    color: white;
    display: flex;
    flex-direction: column;
}
.content .panel .list {
    margin-bottom: 35px;
}
.content .panel .list h2 {
    font-size: 22px;
}
.content .panel .list ul {
    margin: 10px 0 0 10px;
    list-style: none;
}
.content .panel .list ul li {
    margin-top: 5px;
    font-size: 16px;
}
.content .panel .server-status {
    margin-top: auto;
    text-align: center;
}
.content .data {
    flex-basis: calc(100% - 200px);
    padding: 25px;
    border: 1px solid black;
}