* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body {
    max-height: 100vh;
    overflow: hidden;
}
.todo {
    color: red;
}
.content {
    display: flex;
    height: 100vh;
}
.content .panel {
    flex-basis: 250px;
    padding: 25px 0 25px;
    border: none;
    background-color: #313640;
    color: white;
    display: flex;
    flex-direction: column;
}
.content .panel .list {
    margin-bottom: 25px;
    padding: 0 15px 0 30px;
}
.content .panel .list h2 {
    font-size: 18px;
}
.content .panel .list ul {
    margin-top: 5px;
    list-style: none;
}
.content .panel .list ul li {
    padding: 7px 0 7px 20px;
    transition: .4s;
    font-size: 16px;
    cursor: pointer;
}
.content .panel .list ul li:hover {
    background-color: rgba(0,0,0,0.2);
}
.content .panel .server-status {
    margin-top: auto;
    text-align: center;
}
.content .panel .separate {
    height: 1px;
    margin-bottom: 30px;
    background-color: #555;
}
.content .container {
    flex-basis: calc(100% - 250px);
    padding: 25px;
    background-color: #222;
    color: white;
    border: 1px solid black;
}
.content .homepage {
    display: flex;
}
.content .homepage > .sale-this-month {
    max-width: 50%;
    align-self: center;
    text-align: center;
}
.content .homepage .sale-this-month h1 {
    margin-bottom: 20px;
}
.content .homepage .sale-this-month .days {
    display: flex;
    flex-direction: column;
}
.content .homepage .sale-this-month .days .day {
    display: flex;
    height: 28px;
    border-top: 1px solid rgba(255,255,255,.4);
    border-bottom: 1px solid rgba(255,255,255,.4);
}
.content .homepage .sale-this-month .days .day .date {
    display: block;
    width: 45px;
    line-height: 28px;
}
.content .homepage .sale-this-month .days .day .grapf {
    display: block;
    height: 20px;
    margin: 3px 0;
    padding: 0 2px;
    background-color: cornflowerblue;
}
.content .homepage .sale-this-month .days .day .value {
    display: block;
    margin-left: 5px;
    line-height: 25px;
}
.content .homepage .last-and-popular {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 600px;
    margin: 0 auto;
    text-align: left;
}
.content .homepage .last-and-popular > div {
    border: 1px solid rgba(255,255,255,.4);
    margin-bottom: 40px;
    background-color: #333;
}
.content .homepage .last-and-popular h1 {
    text-align: center;
    padding: 25px 0;
    background-color: #444;
}
.content .homepage .last-and-popular .sales .sale,
.content .homepage .last-and-popular .titles > .title,
.content .homepage .last-and-popular .platforms > .platform {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    border-top: 1px solid rgba(255,255,255,.4);
}
.content .homepage .last-and-popular .sales .sale .title {
    flex-basis: 60%
}
.content .homepage .last-and-popular .titles .title .title, 
.content .homepage .last-and-popular .platforms .platform .platform {
    flex-basis: 80%
}
.content .homepage .last-and-popular .sales .sale .price, 
.content .homepage .last-and-popular .sales .sale .platform,
.content .homepage .last-and-popular .platforms .platform .count,
.content .homepage .last-and-popular .titles .title .count {
    width: 20%;
    text-align: center;
}
.content .container .adding-sale {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    margin: 20px;
    padding: 35px 45px;
    background-color: #333;
}
.content .container .adding-sale h1 {
    font-size: 34px;
}
.content .container .adding-sale form {
    margin: 40px 0;
}
.content .container .adding-sale form div {
    display: flex;
    justify-content: space-between;
    height: 30px;
    margin-bottom: 20px;
    padding: 0 5px;
}
.content .container .adding-sale form div label {
    font-size: 18px;
    line-height: 30px;
}
.content .container .adding-sale form div input {
    width: 200px;
}
.content .container .adding-sale form input.submit {
    width: calc(100% - 10px);
    height: 40px;
    background-color: #fff;
    border: none;
    margin: 0 5px;
    cursor: pointer;
    transition: .4s;
}
.content .container .adding-sale form input.submit:hover {
    background-color: #aaa;
}
